*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(238, 231, 231);
}

#nav{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    gap: 30px;
}

#nav h4{
    font-size: 15px;
    font-weight: 600;
}

#nav i{
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 15px;
}

#center{
    /* height: 30%; */
    width: 100%;
    /* background-color: red; */
    padding: 40px;
    
}

#center h1{
    font-size: 60px;
    line-height: 60px;
}

#center-down{
    margin-top: 30px;
    height: 110px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

#center-down p{
    font-size: 20px;
}

#right{
    width: 20%;
}

.elem{
    /* background-color: yellow; */
    margin: 5px;
    padding: 10px 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.elem i{
    opacity: 0;
    font-size: 20px;
    font-weight: 500;
}

.elem:hover i{
    opacity: 1;
}

.elem:hover a{
    text-decoration: underline;
}

#bottom{
    background-color: red;
    height: 35.4%;
    width: 100%;
    background-size: cover;
    background-position: 0 20%;
    background-image: url(https://images.unsplash.com/photo-1632354548459-70f61459d049?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

